.body {
  display: block;
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

video {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.conteiner {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0 auto;
}

.header-bg {
  position: relative;
  background-color: black;
}

.hero-img {
  height: 600px;
  width: 100%;
}

.hero-tittle {
  position: absolute;
  left: 70px;
  top: 220px;
  margin: 0 auto;
  width: 250px;
  text-align: center;
  color: black;
  background-color: transparent;
  font-size: 40px;
  font-weight: 600;
}

.menu {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 30px;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-ikon-lupa {
  margin-left: 20px;
  margin-top: 3px;
}

.menu-ikon-img {
  margin-left: 55px;
}

.menu-ikon-tel {
  margin-left: 55px;
  margin-top: 3px;
}

.menu-ikon-basket {
  margin-left: 25px;
  margin-top: 3px;
}
